/* styles.css */
.slide-container {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.slide-item {
    min-width: 20%; /* 5 items = 100% / 5 = 20% */
    transition: transform 0.5s ease-in-out;
}

.slide-enter {
    transform: translateX(100%);
}

.slide-enter-active {
    transform: translateX(100%);
}

.slide-exit {
    transform: translateX(100%);
}

.slide-exit-active {
    transform: translateX(-100%);
}